{
  "branches": ["main"],
  "repositoryUrl": "https://github.com/diillson/calculador-de-plr",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator"
  ]
}
